table{width: 100%;}
table, caption, th, td {

    border: 2px solid rgb(255, 255, 255);
      border-collapse: collapse;
    
    }
    caption, th, td {
    
    padding: 8px;
    
    }
    
    caption {
    
    background-color: rgb(50, 45, 45);
    
    }
    
    th {
    
    background-color: rgb(77, 74, 74);
    
    }
    
    td {
    
    background-color: rgb(82, 79, 79);
    
    }


    